Repository samnsimson/walmart-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-unknown --write, prettier --list-different, stylelint, stylelint --syntax=scss

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --ignore-unknown --write"],
  "*.md": "prettier --list-different",
  "*.css": "stylelint",
  "*.scss": "stylelint --syntax=scss"
}

stylelint included
  .husky/pre-commit
  .stylelintrc.json
  app/globals.css
  package-lock.json
  package.json
Due: stylelint

feat(Lint): test
  .husky/commit-msg
  commitlint.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --ignore-unknown --write

foo: test
  lib/hooks/queries.ts
Due: eslint --fix, prettier --ignore-unknown --write

US123456: test
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

US123456: Validating commit message
  .husky/commit-msg
  .husky/pre-commit
Due: none

US123456: Validating commit message
  .husky/commit-msg
Due: none

US123456: correct commit message format
  .husky/commit-msg
Due: none

redo
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .stylelintrc.json
  commitlint.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

reset husky
  .husky/pre-commit
Due: none

commit
  app/page.tsx
  components/categorySideBar/index.tsx
  components/ui/accordion.tsx
  package-lock.json
  package.json
  service/category.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

refresh seed file and fix fetch queries
  app/shop/categories/[id]/page.tsx
  prisma/seed.ts
  service/product.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

hold
  actions/category.action.ts
  actions/product.action.ts
  actions/user.action.ts
  app/api/products/route.ts
  app/page.tsx
  app/shop/categories/[id]/page.tsx
  app/shop/flash-deals/page.tsx
  components/categoryCarousel/index.tsx
  components/categorySideBar/index.tsx
  components/productCard/index.tsx
  components/productCarousel/index.tsx
  service/category.service.ts
  service/user.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

configuration
  actions/category.action.ts
  actions/product.action.ts
  app/shop/categories/[id]/page.tsx
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --fix, prettier --ignore-unknown --write

closing branch
  actions/category.action.ts
  actions/product.action.ts
  app/layout.tsx
  app/shop/layout.tsx
  app/shop/product/[slug]/page.tsx
  lib/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write

breadcrumbs
  app/shop/product/[id]/page.tsx
  components/breadcrumbs/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

product page almost ready
  actions/product.action.ts
  app/shop/product/[id]/page.tsx
  components/productCarousel/index.tsx
  components/productPageImage/index.tsx
  components/ui/badge.tsx
  config/databaseClient.ts
  prisma/schema.prisma
Due: eslint --fix, prettier --ignore-unknown --write

new changes
  Dockerfile
  actions/product.action.ts
  app/api/categories/route.ts
  app/shop/product/[id]/page.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --ignore-unknown --write

issues fixed for SSG
  actions/category.action.ts
  actions/product.action.ts
  app/(auth)/signin/page.tsx
  app/(auth)/signup/page.tsx
  app/api/categories/route.ts
  app/api/products/route.ts
  app/shop/categories/[id]/page.tsx
  app/shop/flash-deals/loading.tsx
  app/shop/flash-deals/page.tsx
  app/shop/product/[id]/page.tsx
  next.config.mjs
  prisma/seed.ts
Due: eslint --fix, prettier --ignore-unknown --write

working version of docker
  .dockerignore
  .env
  Dockerfile
  actions/category.action.ts
  compose.yaml
  next.config.mjs
  typesense.config.json
Due: eslint --fix, prettier --ignore-unknown --write

setup typesense and collections
  README.Docker.md
  compose.yaml
  lib/typesense.ts
  package-lock.json
  package.json
  parsed-schema.json
  scripts/create-typesense-collection.js
Due: eslint --fix, prettier --ignore-unknown --write, prettier --list-different

live search integration with typesense
  .env
  components/navigation/index.tsx
  components/searchBar/index.tsx
  components/sectionHeader/index.tsx
  lib/typesense.ts
  parsed-schema.json
  scripts/create-typesense-collection.js
Due: eslint --fix, prettier --ignore-unknown --write

creating typesense collection and sync data during build
  .env
  Dockerfile
  compose.yaml
  scripts/create-typesense-collection.js
Due: eslint --fix, prettier --ignore-unknown --write

SSG with Typesense
  .env
  .prettierrc
  Dockerfile
  app/api/typesense/route.ts
  components/searchBar/index.tsx
  compose.yaml
  lib/typesense.ts
  package.json
  scripts/create-typesense-collection.js
Due: eslint --fix, prettier --ignore-unknown --write

spell check
  .lintstagedrc
  components/addToCardButton/index.tsx
  components/addToCartButton/index.tsx
  components/productCard/index.tsx
  package-lock.json
Due: eslint --fix, prettier --ignore-unknown --write

add to cart button variant
  app/shop/product/[id]/page.tsx
  components/addToCartButton/index.tsx
  components/productCard/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

all products page included
  app/shop/categories/[id]/products/page.tsx
  components/addToCartButton/index.tsx
  components/breadcrumbs/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

shop > sub pages folder structure
  app/shop/categories/products/[id]/page.tsx
  app/shop/product/[id]/page.tsx
  app/shop/product/related/[id]/page.tsx
  components/favouritesButton/index.tsx
  components/productPageImage/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

shop page with products from categories included
  actions/category.action.ts
  actions/product.action.ts
  app/shop/categories/[id]/layout.tsx
  app/shop/categories/[id]/page.tsx
  app/shop/categories/products/[id]/page.tsx
  components/productCard/index.tsx
  components/productList/index.tsx
  components/sectionTitle/index.tsx
  lib/types.ts
  lib/utils.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --ignore-unknown --write

favourites page
  actions/product.action.ts
  app/api/products/multiple/route.ts
  app/layout.tsx
  app/shop/favourites/page.tsx
  app/shop/product/[id]/page.tsx
  components/addToCartButton/index.tsx
  components/addToListButton/index.tsx
  components/favouriteProductsList/index.tsx
  components/navigation/index.tsx
  components/starRating/index.tsx
  components/ui/tabs.tsx
  config/databaseClient.ts
  lib/hooks/mutations.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --ignore-unknown --write

review and rating feature
  actions/product.action.ts
  actions/reviews.action.ts
  app/shop/product/[id]/page.tsx
  components/favouriteProductsList/index.tsx
  components/productReviews/index.tsx
  lib/types.ts
  lib/utils.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --fix, prettier --ignore-unknown --write

review and rating feature
  .env
  components/productReviews/index.tsx
  package-lock.json
  package.json
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --fix, prettier --ignore-unknown --write

seed issue fixed
  .env
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --fix, prettier --ignore-unknown --write

option to generate prisma after every install
  package.json
Due: none

supabase integration
  .env
  prisma/schema.prisma
Due: none

updated readme
  README.md
Due: prettier --list-different

readme update
  README.md
Due: prettier --list-different

cart page WIP
  app/(cart)/cart/page.tsx
  app/shop/product/[id]/page.tsx
  components/cartContainer/index.tsx
  components/cartDetails/index.tsx
  components/cartList/index.tsx
  components/deliveryInformation/index.tsx
  components/navigation/index.tsx
  components/sectionHeader/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write

cart page
  components/addToCartButton/index.tsx
  components/cartList/index.tsx
  components/productCard/index.tsx
  lib/store/actions.ts
  lib/store/index.ts
Due: eslint --fix, prettier --ignore-unknown --write
